*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
.container{
    border:2px solid black;

}
.container h1{
    text-align: center;
}
.container p{
    text-align: center;
}
.main{
    display:flex;
    border: 2px solid black;
    justify-content: center;
}
.bod{
  border: 2px solid black; 
  width: 200px;
  height: 200px;
  margin-left:30px ;
}
.cad{
  border: 2px solid black;  
  height: 200px;
  margin: 0;
  display: flex;
}
.bad{
width: 50%;
border: 2px solid black;
height: 200px;
}
.main1{
    margin-top: 50px;
}
.main1 h2{
    text-align: center;
}
.main1 h3{
    font-family: oblique;
    text-align: center;
}
